[submodule "libraries/Arduino-Log"]
	path = libraries/Arduino-Log
	url = https://github.com/thijse/Arduino-Log
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/FastLED/FastLED
