<div class="card">
    <div class="card-content">
        <span class="card-title">Turn On/Off</span>
        Turn Park Control on or off using the actions below.
    </div>
    <div>
        <div class="card-action">
            <div class="switch">
                <label>
                    Off
                    <input type="checkbox" id="park-control-on-off">
                    <span class="lever"></span>
                    On
                </label>
            </div>
        </div>
    </div>
</div>
